<div class="container__big-card">
  <div class="big-card__photo">

    <img
      src="https://www.w3schools.com/howto/img_avatar.png"
      alt="Avatar" width="200"
    >

  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu mova versao do angular</a></h1>
  </div>
  <div class="big-card_description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet, consectet ur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.
      </a>
    </p>
  </div>


</div>
